<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Novelinked</title>
</head>
<body><!-- start of header -->
<div style="width: 580px; margin: 0px auto; border: 3px solid rgb(129, 186, 6);">
<table bgcolor="#FFF" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tbody>
      <tr>
         <td>
         <table align="center" bgcolor="#f5f5f5" border="0" cellpadding="0" cellspacing="0" width="580">
            <tbody>
               <tr>
                  <td>
                  <table align="left" border="0" cellpadding="0" cellspacing="0" height="103" width="152">
                     <tbody>
                        <tr>
                           <td style="padding:10px 0 10px 20px" valign="middle" width="270">
                           <div><a href="#14fabc80b9d1359f_14fabb6fad29ec8c_"><span><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2291%22%2C%22height%22%3A%2274%22%2C%22alt_text%22%3A%22logo%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//ci3.googleusercontent.com/proxy/ovFFNYzbeTmF0-5zHpGlhwzt3CXUEub3INbJpA2QeMfkaCYW09b1pusr0L5IgpmRPDyTOP3BcZiyI6ip4tLZT80y3wUtRY2V6oiv85M9ks75x2-pkD17vARjd6f7NRW4gBk%3Ds0-d-e1-ft%23http%3A//res.cloudinary.com/abhicloud/image/upload/v1441345464/logo_mqya1a.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img alt="logo" border="0" class="CToWUd" height="74" src="https://ci3.googleusercontent.com/proxy/ovFFNYzbeTmF0-5zHpGlhwzt3CXUEub3INbJpA2QeMfkaCYW09b1pusr0L5IgpmRPDyTOP3BcZiyI6ip4tLZT80y3wUtRY2V6oiv85M9ks75x2-pkD17vARjd6f7NRW4gBk=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345464/logo_mqya1a.png" style="border: medium none; outline: medium none; text-decoration: none; width: 91px; min-height: 74px; height: 74px;" width="91" /></span></span></a></div>
                           </td>
                        </tr>
                     </tbody>
                  </table>

                  <table align="right" border="0" cellpadding="0" cellspacing="0" height="90" width="417">
                     <tbody>
                        <tr>
                           <td align="right" style="font-family:Helvetica,Arial,sans-serif;font-size:23px;color:rgb(0,0,0);line-height:66px;padding:10px 0px;text-align:left" valign="middle" width="270">Where Old Books Meet New Friends!</td>
                           <td width="20">&nbsp;</td>
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
            </tbody>
         </table>
         </td>
      </tr>
   </tbody>
</table>

<table bgcolor="#FFF" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tbody>
      <tr>
         <td>
         <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="580">
            <tbody>
               <tr>
                  <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" height="561" width="567">
                     <tbody>
                        <tr>
                           <td align="center"><a href="#14fabc80b9d1359f_14fabb6fad29ec8c_"><span><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%22574%22%2C%22height%22%3A%22132%22%2C%22alt_text%22%3A%22%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//ci4.googleusercontent.com/proxy/OUA5EbVU5PZc4kNoCo7aztmWMFqBmv5G6iXl7zcUIQk-nmtyZy3g4ChbW5eVaSJ4tpYoM7FIRitl68W2kPx4pD54mPpQ4OPojqs0_WGx3qg3SixTwoE5iiR0Z6yzMn0z8rVCcg%3Ds0-d-e1-ft%23http%3A//res.cloudinary.com/abhicloud/image/upload/v1441345464/banner_zitfrl.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img alt="" border="0" class="CToWUd" height="132" src="https://ci4.googleusercontent.com/proxy/OUA5EbVU5PZc4kNoCo7aztmWMFqBmv5G6iXl7zcUIQk-nmtyZy3g4ChbW5eVaSJ4tpYoM7FIRitl68W2kPx4pD54mPpQ4OPojqs0_WGx3qg3SixTwoE5iiR0Z6yzMn0z8rVCcg=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345464/banner_zitfrl.png" style="border: medium none; outline: medium none; text-decoration: none; width: 574px; min-height: 132px; height: 132px;" width="574" /></span></span></a></td>
                        </tr>
                        <tr>
                           <td style="font-family:Helvetica,arial,sans-serif;font-size:18px;color:#464646;text-align:left;line-height:20px;padding:7px">Dear User,</td>
                        </tr>
                        <tr>
                           <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#464646;text-align:left;line-height:24px;padding:7px">We like getting to point so you can get on with your FREE reading experience. Tap on GET FREE BOOKS and we will send you an email of a list of 5 book swaps you can initiate on your Novelinked App based on your reading preferences.</td>
                        </tr>
                        <tr>
                           <td style="padding:7px">
                           <table align="left" border="0" cellpadding="0" cellspacing="0" height="30" valign="middle">
                              <tbody>
                                 <tr>
                                    <td align="center" height="30" style="background-color:#d2183b;border-top-left-radius:4px;border-bottom-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;font-size:13px;font-family:Helvetica,arial,sans-serif;text-align:center;color:#ffffff;font-weight:300;padding-left:18px;padding-right:18px" valign="middle" width="auto"><span style="color:#ffffff;font-weight:300"><a href="Link" style="color:#ffffff;text-align:center;text-decoration:none" target="_blank">Get Free Books</a> </span></td>
                                 </tr>
                              </tbody>
                           </table>
                           </td>
                        </tr>
                        <tr>
                           <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#464646;text-align:left;line-height:24px;padding:7px">Remember, if you want a wider choice of books at even more convenient exchange points, make sure you tell all your friends about it, especially the ones living close to you. Build Your Micro Library Community Today!!</td>
                        </tr>
                        <tr>
                           <td style="padding: 7px;">
                           <table align="left" border="0" cellpadding="0" cellspacing="0" class="tablet-button" width="100%">
                              <tbody>
                                 <tr>
                                    <td><a href="https://www.facebook.com/Novelinked"><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2266%22%2C%22height%22%3A%2220%22%2C%22alt_text%22%3A%22%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22http%3A//res.cloudinary.com/abhicloud/image/upload/v1441794726/send-btn_kyg7ux.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img alt="" height="20" src="http://res.cloudinary.com/abhicloud/image/upload/v1441794726/send-btn_kyg7ux.png" style="width: 66px; height: 20px;" width="66" /></span> </a></td>
                                 </tr>
                              </tbody>
                           </table>
                           </td>
                        </tr>
                        <tr>
                           <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#464646;text-align:left;line-height:24px;padding:7px">Happy Novelinking!</td>
                        </tr>
                        <tr>
                           <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#464646;text-align:left;line-height:24px;padding:7px">Arvind Monie<br />
                           Owner of Novelinked.com</td>
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
            </tbody>
         </table>
         </td>
      </tr>
   </tbody>
</table>

<table bgcolor="#FFF" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tbody>
      <tr>
         <td>
         <table>
            <tbody>
               <tr>
                  <td height="20" width="100%">&nbsp;</td>
               </tr>
               <tr>
                  <td>
                  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="560">
                     <tbody>
                        <tr>
                           <td>
                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="170">
                              <tbody>
                                 <tr style="background-image: url(&quot;https://ci5.googleusercontent.com/proxy/mowAxmLa8g0K_D4gyub3wSaIbl-fHh2_PIIj3G_Mb-Yz-oz3fHTuXhxVCp1fgK1b44C4Hm1VSdkEepEn2QsLaJOxQSOEhCHBXG7rGXZPPOd_cVXmpbfMHHO7T7mHaJnNxtM=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345464/BOOK_vllbux.png&quot;); height: 214px; background-repeat: no-repeat;">
                                    <td align="center" height="145" width="170">
                                    <p style="width:142px;font-weight:bold;font-size:13px;margin:0px;padding:0px 9px 0px 0px;font-family:Helvetica,arial,sans-serif;float:right;color:#464646">Tips for managing your matches</p>

                                    <ul style="padding:0px 15px 0px 0px;list-style:outside none none;font-size:13px;width:120px;margin:0px;text-align:left;font-family:Helvetica,arial,sans-serif;float:right;color:#464646">
                                       <li>Lorem Ipsum is simply dummy text</li>
                                       <li>Lorem Ipsum is simply dummy text</li>
                                       <li>Lorem Ipsum is simply dummy text</li>
                                    </ul>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="15">
                              <tbody>
                                 <tr>
                                    <td height="15" style="font-size:1px;line-height:1px" width="100%">&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="left" border="0" cellpadding="0" cellspacing="0" height="214" width="170">
                              <tbody>
                                 <tr style="background-image:url(https://ci5.googleusercontent.com/proxy/mowAxmLa8g0K_D4gyub3wSaIbl-fHh2_PIIj3G_Mb-Yz-oz3fHTuXhxVCp1fgK1b44C4Hm1VSdkEepEn2QsLaJOxQSOEhCHBXG7rGXZPPOd_cVXmpbfMHHO7T7mHaJnNxtM=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345464/BOOK_vllbux.png);height:192px;background-repeat:no-repeat">
                                    <td align="center" height="128" width="170">
                                    <p style="width:142px;font-weight:bold;font-size:13px;margin:0px;padding:0px 9px 0px 0px;font-family:Helvetica,arial,sans-serif;float:right;color:#464646">Questions for us?</p>

                                    <ul style="padding:0px 15px 0px 0px;list-style:outside none none;font-size:13px;width:120px;margin:0px;text-align:left;font-family:Helvetica,arial,sans-serif;float:right;color:#464646">
                                       <li>Lorem Ipsum is simply dummy text</li>
                                       <li>Lorem Ipsum is simply dummy text</li>
                                       <li>Lorem Ipsum is simply dummy text</li>
                                    </ul>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="1">
                              <tbody>
                                 <tr>
                                    <td height="15" style="font-size:1px;line-height:1px" width="100%">&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="right" border="0" cellpadding="0" cellspacing="0" height="214" width="170">
                              <tbody>
                                 <tr style="background-image:url(https://ci5.googleusercontent.com/proxy/mowAxmLa8g0K_D4gyub3wSaIbl-fHh2_PIIj3G_Mb-Yz-oz3fHTuXhxVCp1fgK1b44C4Hm1VSdkEepEn2QsLaJOxQSOEhCHBXG7rGXZPPOd_cVXmpbfMHHO7T7mHaJnNxtM=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345464/BOOK_vllbux.png);height:192px;background-repeat:no-repeat">
                                    <td align="center" height="128" width="170">
                                    <p style="width:142px;font-weight:bold;font-size:13px;margin:0px;padding:0px 9px 0px 0px;font-family:Helvetica,arial,sans-serif;float:right;color:#464646">Tell us about your experience</p>

                                    <ul style="padding:0px 15px 0px 0px;list-style:outside none none;font-size:13px;width:120px;margin:0px;text-align:left;font-family:Helvetica,arial,sans-serif;float:right;color:#464646">
                                       <li>Lorem Ipsum is simply dummy text</li>
                                       <li>Lorem Ipsum is simply dummy text</li>
                                       <li>Lorem Ipsum is simply dummy text</li>
                                    </ul>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
               <tr>
                  <td height="20" width="100%">&nbsp;</td>
               </tr>
            </tbody>
         </table>
         </td>
      </tr>
   </tbody>
</table>

<table bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tbody>
      <tr>
         <td>
         <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" height="139" style="font-family: Helvetica,arial,sans-serif;" width="570">
            <tbody>
               <tr>
                  <td height="20" width="100%">&nbsp;</td>
               </tr>
               <tr>
                  <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="560">
                     <tbody>
                        <tr>
                           <td>
                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="174">
                              <tbody>
                                 <tr align="center" bgcolor="#80BA06" style="height:20px" width="170">
                                    <td align="center" style="padding:8px;font-size:14px;color:rgb(255,255,255);font-weight:600">We are on</td>
                                 </tr>
                                 <tr align="center" style="height:20px;border:1px solid #80ba06" width="170">
                                    <td align="left" style="font-size:14px;color:rgb(255,255,255);font-weight:600;border:1px solid rgb(237,237,237);padding:8px 2px" width="80"><a align="left" href="https://play.google.com/store?hl=en" style="width:48%;display:inline-block"><span><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2282%22%2C%22height%22%3A%2228%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//ci4.googleusercontent.com/proxy/YQ6LXgtvFEbwr1iwYDBLjPTSBsVLJnn19-GPEO2On-2Y5K6MZ5drg-GbVHyWiIMS83LNJYLkW-ofbf37uO_apSWRn6BE3VMnm9wcAC8kcLNR7fZ3YXLvH17jyCvFtr2KQrgGcQ%3Ds0-d-e1-ft%23http%3A//res.cloudinary.com/abhicloud/image/upload/v1441345463/g-play_eigrzb.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img class="CToWUd" height="28" src="https://ci4.googleusercontent.com/proxy/YQ6LXgtvFEbwr1iwYDBLjPTSBsVLJnn19-GPEO2On-2Y5K6MZ5drg-GbVHyWiIMS83LNJYLkW-ofbf37uO_apSWRn6BE3VMnm9wcAC8kcLNR7fZ3YXLvH17jyCvFtr2KQrgGcQ=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345463/g-play_eigrzb.png" style="padding: 0px; margin: 0px; width: 82px; min-height: 28px; height: 28px;" width="82" /></span></span> </a> <a align="left" href="http://www.apple.com/in/itunes/" style="width:48%;display:inline-block"> <span><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2282%22%2C%22height%22%3A%2228%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//ci6.googleusercontent.com/proxy/qMHAWy9N0t5vn7lhiQuEjSCIshsaWcyY16pb_LlXtFnYEXZ15y0_BHHHrrhMcMWzNesdkpMT6f9SgcRjGOEQ_GG1984cCiDYpVXlMlk0sKRgFv22m4jRCQdV4gjLRH80RkFb_g%3Ds0-d-e1-ft%23http%3A//res.cloudinary.com/abhicloud/image/upload/v1441345463/iphone_g4yc0k.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img class="CToWUd" height="28" src="https://ci6.googleusercontent.com/proxy/qMHAWy9N0t5vn7lhiQuEjSCIshsaWcyY16pb_LlXtFnYEXZ15y0_BHHHrrhMcMWzNesdkpMT6f9SgcRjGOEQ_GG1984cCiDYpVXlMlk0sKRgFv22m4jRCQdV4gjLRH80RkFb_g=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345463/iphone_g4yc0k.png" style="padding: 0px; margin: 0px; width: 82px; min-height: 28px; height: 28px;" width="82" /></span></span> </a></td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="15">
                              <tbody>
                                 <tr>
                                    <td height="15" style="font-size:1px;line-height:1px" width="100%">&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="174">
                              <tbody>
                                 <tr align="center" bgcolor="#80BA06" style="height:20px" width="170">
                                    <td align="center" style="padding:8px;font-size:14px;color:rgb(255,255,255);font-weight:600">Share Us On</td>
                                 </tr>
                                 <tr align="center" style="height:20px;border:1px solid #80ba06" width="170">
                                    <td align="left" style="font-size:14px;color:rgb(255,255,255);font-weight:600;border:1px solid rgb(237,237,237);padding:8px 2px" width="80"><a align="left" href="https://u1861925.ct.sendgrid.net/wf/click?upn=sH78qRXJ1zdsnEIFW8jCgfO4LJb9GHLzR8mN2bMuhIWdytZAF2SWCWUgYboB9T1s_GfYnvnPZyXMXnhQasmrl8fVZnzdpYUukCsufUN9tjW70pO4cpw4X4jtE5oPRsUoLEOottNCAokD3PweyYsXKBnzX-2Bkm9WBzQc-2F8UJEErCJuKnXVPkV0Vz9PIBYrs5Wxko8GFB3S9UfsirmBAF-2B9JJdnpayD-2B4nL5XGXAieyTfC4-2B-2B5xot-2FXBcxigGR-2F-2FjCOBLkHWygt42zU1-2Bc7JaNwEJYeYNXOKFkkY4ozov1ILhCnJqWcAk57O0Ov-2Baj-2BVkhq3" style="width:48%;display:inline-block" target="_blank"><span><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2270%22%2C%22height%22%3A%2226%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//ci5.googleusercontent.com/proxy/oCMSToOuYVql-KrCqHLatezOPFhg5AyG0fOrrSYjlELWto5-sgd-b0vLwAibLRLn12j6tgMdJYmhshyvYwzrHUIq0jlpsCMPAPt2-OdieCZ-EyhdJY_9fah7ReEavu_T%3Ds0-d-e1-ft%23http%3A//res.cloudinary.com/abhicloud/image/upload/v1441345463/fb_qxpfcc.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img class="CToWUd" height="26" src="https://ci5.googleusercontent.com/proxy/oCMSToOuYVql-KrCqHLatezOPFhg5AyG0fOrrSYjlELWto5-sgd-b0vLwAibLRLn12j6tgMdJYmhshyvYwzrHUIq0jlpsCMPAPt2-OdieCZ-EyhdJY_9fah7ReEavu_T=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345463/fb_qxpfcc.png" style="padding: 0px; margin: 0px; width: 70px; min-height: 26px; height: 26px;" width="70" /></span></span> </a> <a align="left" href="https://u1861925.ct.sendgrid.net/wf/click?upn=sH78qRXJ1zdsnEIFW8jCgWfT4WkvRxaBJaEse-2Fq5umcsRWqovPnmQUcSjGFz88ty_GfYnvnPZyXMXnhQasmrl8fVZnzdpYUukCsufUN9tjW70pO4cpw4X4jtE5oPRsUoLEOottNCAokD3PweyYsXKBrYq9Nsw0Y0e2eveXedKM4rR4iaLT8M9dvT1tBtEVprsg-2Bl9Op91qPDOTNmb4m5wIJuvG8kMNT4YMIt7Y3jR0ZAxNNVoC-2BDuGoHH955uNMDRhfLeTYpX0N5g-2F7RDB52C50ICpkRtD30ichndrXnEcxJxbq-2FWn4-2FsJFXAxeBHP3qw" style="width:48%;display:inline-block" target="_blank"> <span><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2277%22%2C%22height%22%3A%2225%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//ci4.googleusercontent.com/proxy/ex5m98BlRSHiuoxz9gqdGDTjGXm15MR_Qeiczy-iTHvT6JkEAz-Kdu09XHjc-d_z93iq6m-m0Em1dd2KPBDEIB5UiMNgqybEYVxI_OYNP3ecThG2ZVFqP9iz7bPfPyjsx1vjYsA%3Ds0-d-e1-ft%23http%3A//res.cloudinary.com/abhicloud/image/upload/v1441345465/twitter_rwyqg6.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img class="CToWUd" height="25" src="https://ci4.googleusercontent.com/proxy/ex5m98BlRSHiuoxz9gqdGDTjGXm15MR_Qeiczy-iTHvT6JkEAz-Kdu09XHjc-d_z93iq6m-m0Em1dd2KPBDEIB5UiMNgqybEYVxI_OYNP3ecThG2ZVFqP9iz7bPfPyjsx1vjYsA=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345465/twitter_rwyqg6.png" style="padding: 0px; margin: 0px; width: 77px; min-height: 25px; height: 25px;" width="77" /></span></span> </a></td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="15">
                              <tbody>
                                 <tr>
                                    <td height="15" style="font-size:1px;line-height:1px" width="100%">&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>

                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="174">
                              <tbody>
                                 <tr align="center" bgcolor="#80BA06" style="height:20px" width="170">
                                    <td align="center" style="padding:8px;font-size:14px;color:rgb(255,255,255);font-weight:600">Like Us On</td>
                                 </tr>
                                 <tr align="center" style="height:20px;border:1px solid #80ba06" width="170">
                                    <td align="left" style="font-size:14px;color:rgb(255,255,255);font-weight:600;border:1px solid rgb(237,237,237);padding:8px 2px" width="80"><a align="center" href="https://u1861925.ct.sendgrid.net/wf/click?upn=sH78qRXJ1zdsnEIFW8jCgfO4LJb9GHLzR8mN2bMuhIWdytZAF2SWCWUgYboB9T1s_GfYnvnPZyXMXnhQasmrl8fVZnzdpYUukCsufUN9tjW70pO4cpw4X4jtE5oPRsUoLEOottNCAokD3PweyYsXKBh6AToiJXNJ9fsCJ34sMhavCEq-2F3iGfzpAR-2F9TIicpkY0KjHwb1SjJHa5aLjDZmnHn41TgCKXHCjInyC-2FXG7wxXAT-2BtoFFZr6eQIx23yzpdTHVdQFbMTsZqfPSrXYV645jRCKGKIPvlYqpSP00pvj-2BB-2F02pBxq9H0qJJRmjxKoiU" style="width:90%;display:inline-block;text-align:center" target="_blank"><span style="float:none;display:block;text-align:center"><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2282%22%2C%22height%22%3A%2228%22%2C%22alignment%22%3A%22center%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//ci6.googleusercontent.com/proxy/k9gu5m6wZMFCmnOxNEzh5C-L4HrzysgEP89RHm9_ohAZPrQn8ZEsPgIxDVeNzG9W8VqhBYoalI4AoVjZWvdVG6o_uNo43vlphJ4rSH-oLe49-zRSY8LEfrd67qugUBEoOF4%3Ds0-d-e1-ft%23http%3A//res.cloudinary.com/abhicloud/image/upload/v1441345464/like_koiduv.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D" style="float: none; display: block; text-align: center;"><img class="CToWUd" height="28" src="https://ci6.googleusercontent.com/proxy/k9gu5m6wZMFCmnOxNEzh5C-L4HrzysgEP89RHm9_ohAZPrQn8ZEsPgIxDVeNzG9W8VqhBYoalI4AoVjZWvdVG6o_uNo43vlphJ4rSH-oLe49-zRSY8LEfrd67qugUBEoOF4=s0-d-e1-ft#http://res.cloudinary.com/abhicloud/image/upload/v1441345464/like_koiduv.png" style="padding: 0px; margin: 0px; width: 82px; min-height: 28px; height: 28px;" width="82" /></span></span> </a></td>
                                 </tr>
                              </tbody>
                           </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  </td>
               </tr>
               <tr>
                  <td height="20" width="100%">&nbsp;</td>
               </tr>
            </tbody>
         </table>
         </td>
      </tr>
   </tbody>
</table>

<table bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="100%">
   <tbody>
      <tr>
         <td width="100%">
         <table align="center" border="0" cellpadding="0" cellspacing="0" height="76" width="573">
            <tbody>
               <tr>
                  <td height="5" width="100%">&nbsp;</td>
               </tr>
               <tr>
                  <td align="center" style="font-family:Helvetica,arial,sans-serif;font-size:10px;color:#999999" valign="middle">This Email was sent to you as you have signed up to our App. We send it to you once a month. If you wish to unsubscribe please . <a href="UnsubscribeLink" style="text-decoration:none;color:#80ba06">click here</a></td>
               </tr>
               <tr>
                  <td height="5" width="100%">&nbsp;</td>
               </tr>
            </tbody>
         </table>
         </td>
      </tr>
   </tbody>
</table>
</div>

<p>&lt;%body%&gt;</p>
</body>
</html>
