<!-- To reset your password, please enter access token in your app. <br>
<br>
Hi <%= @user.username %>, <br>
Your Access token : <b>  <%= @user.reset_password_token %> </b> <br> <br>

This token is active for 8 hours.

If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
 -->



<body style="margin: 0 auto; padding:10px 20px; width:600px;">
 <table border="0"  cellpadding="0" cellspacing="0" width="100%" style="bgcolor:#fff; border:1px solid #808080;">
  <br>
  <tr style="border:0">
   <td style="padding:10px 20px 12px 20px; font-size:16px; font-weight:bold; border:0; text-align: center; font-family: Arial,Helvetica, sans-serif;">To reset your password, please enter access token in your app!</td>
  </tr>
  <tr style="border:0">
   <td style="padding:10px 20px 12px 20px; font-size:16px; border:0; text-align: center; font-family: Arial,Helvetica, sans-serif;">Hi <%= @user.username %>, <br> 
     Your Access token : <b>  <%= @user.reset_password_token %> </b> <br> <br>
   </td>
  </tr>

  <tr style="border:0">
   <td style="padding:10px 20px 12px 20px; font-size:16px; border:0; text-align: center; font-family: Arial,Helvetica, sans-serif;"> This token is active for 8 hours!</td>
  </tr>

  <tr style="border:0">
   <td style="padding:10px 20px 12px 20px; font-size:16px; border:0; text-align: center; font-family: Arial,Helvetica, sans-serif;"> If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
  </tr>
 <tr style="border:0">
   <td style="padding:10px 20px 12px 20px; font-size:16px; font-weight:bold; border:0; text-align: center; font-family: Arial,Helvetica, sans-serif;">Best Regards,</td>
  </tr>
  <tr style="border:0">
   <td style="padding:10px 20px 60px 20px; font-size:16px; border:0; text-align: center; font-family: Arial,Helvetica, sans-serif;">
   The Novelinked Team<br>
   </td>
  </tr>
 </table>
</body>
