  <table class="table table-bordered table-hover ">                    
                    <tr>
                      <!-- <th>Logo</th>  -->
                      <th>dates</th>
                      <th>Total Chats accessed in Past 7 days</th>
                      <th>Total Books Uploaded"</th>
                      <th>Total Matches Possible in Less then 5 km radius</th>
                      <th>Total Invites Send</th>
                      <th>Total Invites Accepted</th>
                      <th>Percentage of Invites Accepted</th>
                     
                    </tr>
                
                

                    <tr> 
                      <!-- <td> <%#= image_tag(user.company_logo.url(:thumb),:class=>"img-thumbnail" )  %></td> -->
                      <td> <%#= user.company_name.capitalize %></td>
                      <td> <%#= user.email%></td>
                      <td> <%#= user.billing_address%></td>
                      <td> <%#= user.phone_no%> </td>
                      <td> <%#= user.pending_verification_by_vp.count %> </td>
                      <td> <%#= user.pending_verification_by_end.count %></td>
                      <td> <%#= user.approved_client.count %></td>
                      <td> <%#= link_to 'Profile url',user.client_profile_url, :target => '_blank' %><%#= link_to 'Profile url',view_profile_path(company_name: user.company_name.to_s.parameterize), :target => '_blank' %></td>
                  
                </table> 