<!DOCTYPE html>
<html>
<head>
  <title>ExchangeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="exampleModalLabel">Your Details</h4>
		  </div>
		  <div class="modal-body">
			<form>
			  <div class="form-group">
				<label for="exampleInputEmail1" class="label-txt">Name</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1" class="label-txt">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			  </div>
			   <div class="form-group">
				<label for="exampleInputEmail1" class="label-txt">Country</label>
				<select class="form-control">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1"class="label-txt" >Gender</label>
			  <div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				Male
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				Female
			  </label>
			</div>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1"class="label-txt">Author ( If any)</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			</div>
			  
			</form>
		  </div>
		  <div class="modal-footer put-center">
			<button type="button" class="btn btn-default btn-red">Journey With Us</button>
		  </div>
		</div>
	  </div>
	</div> -->

</body>


</html>
